baseURL = 'https://jkerschner.com/'
languageCode = 'en-us'
title = 'Jay Kerschner'
theme = 'wholelattesyntax'

[params]
  email = "contact@jkerschner.com"
  bluesky_url = "https://bsky.app/profile/jayk56.bsky.social"
  linkedin_url = "https://www.linkedin.com/in/jlkerschner97/"

[menus]
  [[menus.main]]
    name = 'Home'
    pageRef = '/'
    weight = 10
  [[menus.main]]
    name = 'Posts'
    pageRef = '/posts'
    weight = 20
  [[menus.main]]
    name = 'Tags'
    pageRef = '/tags'
    weight = 30
  [[menus.main]]
    name = 'Contact'
    pageRef = '/contact'
    weight = 40

[markup]
  [markup.highlight]
    noClasses = false
    style = "monokai"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
